* {
  font-family: Spartan;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

button {
  cursor: pointer;
}

#brand {
  text-align: center;
}

#brand h2 {
  font-weight: 300;
  margin-left: 1em;
}

.nav {
  overflow: hidden;
  padding: 1em;
}

.nav #myLinks {
  display: none;
}

.nav #myLinks .selected {
  font-weight: 600;
  color: #313639;
}

.nav a {
  color: black;
  padding: 15px;
  text-decoration: none;
  font-size: 1em;
  display: block;
  font-family: "Spartan";
}

.nav a.icon {
  display: block;
  position: absolute;
  color: #313639;
  font-size: 1.5em;
  left: 0;
  top: 0;
}

.med-nav {
  display: none;
}

/**************** Main ****************/

.main img {
  width: 60vw;
  margin-left: 15vw;
  margin-top: 2vh;
}

.text-content {
  width: 90%;
  margin: 0 auto;
}

.text-content h1 {
  font-size: 2em;
}

.text-content p {
  margin-top: 4vh;
  line-height: 2.3em;
}

/**************** Insta ****************/

.sml-feed {
  margin-top: 4em;
}

.lrg-feed {
  display: none;
}

/**************** Footer ****************/

footer {
  text-align: center;
  height: 10em;
  margin-top: 5em;
}

footer h1 {
  font-weight: 400;
  margin-top: 1em;
}

footer h1 span {
  font-size: 0.5em;
}

footer p {
  margin-top: 0.5em;
  font-weight: 400;
}

.socials {
  margin-top: 1em;
}

.socials a {
  font-size: 1.2em;
  border-radius: 50%;
  color: #fff;
  background: #313639;
  line-height: 1.7em;
  width: 1.5em;
  height: 1.5em;
  padding: 0.3em;
  text-align: center;
  display: inline-block;
  transition: 0.5s;
}

/**************** Queries ****************/

@media screen and (min-width: 600px) {
  .nav {
    padding: 2em;
  }

  .med-nav .selected {
    font-weight: 600;
    color: #313639;
  }

  .med-links a:hover {
    color: pink;
  }

  .nav h2 {
    font-size: 2em;
  }
}

@media screen and (min-width: 900px) {
  #myLinks a {
    display: none;
  }

  .nav {
    padding: 0;
  }

  .nav a.icon {
    display: none;
  }

  #brand {
    display: none;
  }

  .med-nav h2 {
    float: left;
    font-weight: 400;
    font-size: 3vw;
  }

  .med-nav {
    display: block;
    height: 5em;
    line-height: 5em;
    width: 90%;
    margin: 0 auto;
  }

  .med-nav a {
    color: #313639;
    text-decoration: none;
    font-weight: 400;
    font-family: "Spartan";
  }

  .med-links {
    float: right;
  }

  .med-links a {
    margin: 0 1vw;
  }

  .main {
    margin-top: 5em;
  }

  .main img {
    float: left;
    width: 30%;
    margin-right: 5em;
  }

  .text-content {
    width: 70%;
  }

  .text-content h1 {
    font-size: 3em;
    text-align: center;
  }

  .lrg-feed {
    display: block;
    width: 80%;
    margin: 10em auto 0 auto;
  }

  .sml-feed {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  #brand h2 {
    font-size: 2.2em;
  }

  .med-nav {
    height: 6em;
    line-height: 6em;
  }

  .med-links a {
    font-family: "Spartan";
    font-weight: 400;
  }
}
